<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Template</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="header">
            <ul>                
                <li><a th:href="@{/}">[[#{character.header_index}]]</a></li>
                <li><a th:href="@{/characters}">[[#{character.header_listOfCharacters}]]</a></li>
                <li><a th:href="@{/movies}">[[#{character.header_listOfMovies}]]</a></li>
                <li><a th:href="@{login}">[[#{character.header_login}]]</a></li>
            </ul>
        </header>
        <h1>Explora el Mundo Disney</h1> 
        
        <footer th:fragment="footer">
            <div>
                <p th:text="#{template.footer}"></p>
                <form method="POST" th:action="@{/logout}">
                    <a href="#" onclick="this.parentNode.submit();">Logout</a>
                </form>
            </div>
            
        </footer>
    </body>
</html>