<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Creación de Personaje</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <ul>                
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{list_of_characters}">Listado de Personajes</a></li>
            </ul>
        </header>  
        <h1>Creación de Personaje</h1>
        <a th:href="@{list_of_characters}">Regresar</a>  
        <br></br>
        <form th:action="@{/save_character}" method="post" th:objects="${characters}">
            <label for="image">Imagen:</label>
            <input type="text" name="image" th:field="*{image}"/>

        </form>

    </body>
</html>
