<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Creación de Personaje</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <ul>                
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{list_of_characters}">Listado de Personajes</a></li>
            </ul>
        </header>  
        <h1>Creación de Personaje</h1>
        <a th:href="@{/list_of_characters}">Regresar</a>  
        <br></br>
        <form th:action="@{/save_character}" method="post" th:object="${characters}" enctype="multipart/form-data">
            <input type="hidden" name="id_character" th:field="*{id_character}"/>
            <label for="image">Imagen:</label> 
            <input type="text" name="image" th:field="*{image}"/>
            <br/>
            <label for="name">Nombre:</label> 
            <input type="text" name="name" th:field="*{name}"/>
            <br/>
            <label for="age">Edad:</label> 
            <input type="text" name="age" th:field="*{age}"/>
            <br/>
            <label for="weight">Peso:</label> 
            <input type="text" name="weight" th:field="*{weight}"/>
            <br/>
            <label for="story">Historia:</label> 
            <br/>
            <textarea rows="10" cols="40" name="story" th:field="*{story}">Escribe la Historia aquí.</textarea>
            <br/>
            <label for="associated_movies">Peliculas o series asociadas:</label> 
            <input type="text" name="associated_movies" th:field="*{associated_movies}"/>
            <br></br>
            <input type="submit" name="save_character" value="Guardar"/>
            
            
                       
        </form>


    </body>
</html>
