<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>[[#{details.movies.titulo_principal}]]</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header> 
        
        <h1>[[#{titulo.principal_h1}]]</h1>
        <h2>[[#{details.movies.titulo.h2}]]</h2>
        
        <a th:href="@{/movies}">[[#{details.movies.regresar}]]</a> 
        <br></br>
        
        <div>
            <table border="1">
                <tr>
                    <th>[[#{details.movies.table_image}]]</th>
                    <th>[[#{details.movies.table_title}]]</th>
                    <th>[[#{details.movies.table_creationDate}]]</th>
                    <th>[[#{details.movies.table_qualification}]]</th>
                    <th>[[#{details.movies.table_associated_characters}]]</th>
                </tr>
                <tr th:each="movies_or_series: ${moviesOrSeries}">
                    <td><img th:attr="src=@{'image/moviesImages/'+${moviesOrSeries.image}}" alt="sin imagen disponible" height="130" width="100"/></td>
                    <td th:text="${moviesOrSeries.title}"></td>
                    <td th:text="${moviesOrSeries.creation_date}"></td>
                    <td th:text="${moviesOrSeries.qualification}"></td>
                    <td th:text="${moviesOrSeries.associated_characters}"></td>
                </tr>
            </table>            
        </div>
        
        <footer th:replace="layout/template :: footer"></footer>
           
    </body>
</html>
