<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Detalles de Personaje</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header> 
        
        <h1>Detalle de Personajes</h1>
        
        <a th:href="@{/list_of_characters}">Regresar</a> 
        <br></br>
        
        <div>
            <table border="1">
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Peso</th>
                    <th>Historia</th>
                    <th>Películas o series Asociadas</th>
                </tr>
                <tr th:each="character: ${characters}">
                    <td th:text="${characters.image}"></td>
                    <td th:text="${characters.name}"></td>
                    <td th:text="${characters.age}"></td>
                    <td th:text="${characters.weight}"></td>
                    <td th:text="${characters.story}"></td>
                    <td th:text="${characters.associated_movies}"></td>
                </tr>
            </table>            
        </div>
        
        <footer th:fragment="footer">
            <p>Todos los derechos reservados - Saúl Santibáñez ©</p>
        </footer>
           
    </body>
</html>
