<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>[[#{edit_movies.titulo_principal}]]</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header> 
        <h1>[[#{titulo.principal_h1}]]</h1>
        <h2>[[#{edit_movies.titulo.h2}]]</h2>
        <a th:href="@{/movies}">[[#{edit_movies.regresar}]]</a>  
        <br></br>
        <form th:action="@{/save_movies}" method="post" th:object="${moviesOrSeries}">
            <input type="hidden" name="id_movies" th:field="*{id_movies}"/>
            <label for="image">[[#{edit_movie.form_image}]]</label> 
            <input type="text" name="image" th:field="*{image}"/>
            <br/>
            
            <label for="title">[[#{edit_movie.form_title}]]</label> 
            <input type="text" name="title" th:field="*{title}"/>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            <br/>
            
            <label for="creation_date">[[#{edit_movie.form_creationDate}]]</label> 
            <input type="text" name="creation_date" th:field="*{creation_date}"/>
            <span th:if="${#fields.hasErrors('creation_date')}" th:errors="*{creation_date}"></span>
            <br/>
            
            <label for="qualification">[[#{edit_movie.form_qualification}]]</label> 
            <input type="text" name="qualification" th:field="*{qualification}"/>
            <span th:if="${#fields.hasErrors('qualification')}" th:errors="*{qualification}"></span>
            <br/>
            
            <label for="associated_characters">[[#{edit_movie.form_associated_characters}]]</label> 
            <input type="text" name="associated_characters" th:field="*{associated_characters}"/>
            <span th:if="${#fields.hasErrors('associated_characters')}" th:errors="*{associated_characters}">E</span>
            <br></br>
            <input type="submit" name="save_movies" th:value="#{edit_movie.save_movie}"/>
            
        </form>

        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>
