<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="#{edit.titulo_principal}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header> 
        <h1 th:text="#{characters.titulo.h1}"></h1>
        <h2 th:text="#{edit.titulo.h2}"></h2>
        <a th:href="@{/list_of_characters}" th:text="#{create.regresar}"></a>  
        <br></br>
        <form th:action="@{/save_character}" method="post" th:object="${characters}" enctype="multipart/form-data">
            <input type="hidden" name="id_character" th:field="*{id_character}"/>
            <label for="image" th:text="#{edit.form_image}"></label> 
            <input type="text" name="image" th:field="*{image}"/>
            <br/>
            
            <label for="name" th:text="#{edit.form_name}"></label> 
            <input type="text" name="name" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error en el nombre</span>
            <br/>
            
            <label for="age" th:text="#{edit.form_age}">Edad:</label> 
            <input type="text" name="age" th:field="*{age}"/>
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error en la edad</span>
            <br/>
            
            <label for="weight" th:text="#{edit.form_weight}">Peso (Kg):</label> 
            <input type="text" name="weight" th:field="*{weight}"/>
            <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Error en el peso</span>
            <br/>
            
            <label for="story" th:text="#{edit.form_story}">Historia:</label> 
            <br/>
            <textarea rows="10" cols="40" name="story" th:field="*{story}">Escribe la Historia aquí.</textarea>
            <span th:if="${#fields.hasErrors('story')}" th:errors="*{story}">Error en la historia</span>
            <br/>
            
            <label for="associated_movies" th:text="#{edit.form_associated_movies}">Peliculas o series asociadas:</label> 
            <input type="text" name="associated_movies" th:field="*{associated_movies}"/>
            <span th:if="${#fields.hasErrors('associated_movies')}" th:errors="*{associated_movies}">Error en el campo</span>
            <br></br>
            
            <input type="submit" name="save_character" th:value="#{edit.save_character}"/>
            
        </form>

        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>
