<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Creación de Personaje</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>   
        
        <h1>Listado de Personajes</h1>
        <a th:href="@{/add_character}">Crear Personaje</a>
        <br></br>
        
        <div th:if="${character != null and !character.empty}">
            <table border="1">
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Detalles</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="characters: ${character}">
                    <td th:text="${characters.image}"></td>
                    <td th:text="${characters.name}"></td>
                    <td> <a th:href="@{/details_characters(id_character=${characters.id_character})}" th:text="Detalles"></a></td>
                    <td> <a th:href="@{/edit_characters(id_character=${characters.id_character})}" th:text="Editar"></a></td>
                    <td> <a th:href="@{/delete_characters(id_character=${characters.id_character})}" th:text="Eliminar"></a></td>
                </tr>
            </table>            
        </div>
        <div th:if="${character == null or character.empty}">
            El listado de Personajes esta vacio.
        </div>
        
        <footer th:fragment="footer">
            <p>Todos los derechos reservados - Saúl Santibáñez ©</p>
        </footer>
    </body>
</html>
