<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Creación de Personaje</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <ul>                
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{list_of_characters}">Listado de Personajes</a></li>
                <li><a th:href="@{Login}">Login</a></li>
            </ul>
        </header>
        <h1>Ingresa al Mundo Disney</h1>  
        </form>
    </body>
</html>